{% extends 'template.html' %}
{% load static %}
{% block content %}
  <div class="container  mt-4">
      <h1>Get in touch</h1>
      <p>私につながろう！</p>
        <ul>
            <li><i class="fa-solid fa-envelope"></i> Email: a21dc530@dhw.ac.jp</li>
            <li><i class="fa-brands fa-instagram"></i> Instargram: @nmt_hihi</li>
        </ul>
    </div>  
{% endblock content %}