{% extends 'template.html' %}
{% load static %}
{% block content %}
  <header>
    <div class="header_big  mt-4">
      <img src="{% static 'img/logo.png' %}" class="mb-2" alt="Logo" style="border-radius: 50%;">
      <h1>賢明な辞書</h1>
      <p class="span_header">ワードサーチをより速く、効率的に行うための革命的なウェブアプリケーションへようこそ！ 複数の定義をひとつひとつ探す従来の方法に別れを告げましょう。キーワードを入力し、文脈の文を提供するだけで、残りは私にお任せください。先進のアルゴリズムにより、文脈を分析し、キーワードに最も近い意味を提供します。貴重な時間と労力を節約します。単語の探求の未来を受け入れ、賢明なワードサーチツールの便利さを体験してください。指先での素早く正確な単語の意味に、こんにちはを言ってください！</p>
      
      <button><a href="{% url 'search' %}">はじめましょう！</a></button>
    </div>
  </header>  
{% endblock content %}   