{% extends 'template.html' %}

{% block content %}
<div class="container mt-4">
  <h2>プロファイル</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">保存</button>
  </form>
</div>
{% endblock %}
