{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
  <main>
    <div id="container">
      <nav>
        <ul>
          <li><a href="{% url 'index' %}" title="ホーム"><i class="fa-solid fa-house" style="color: #ffffff;"></i></a></li>
          <li><a href="{% url 'search' %}" title="検索"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></li>
          <li><a href="{% url 'contact' %}"title="私について"><i class="fa-solid fa-envelope-open-text" style="color: #ffffff;"></i></li>
        </ul>
        <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'profile' %}" title="プロファイル"><i class="fa-solid fa-user" style="color: #ffffff;"></i></a></li>
          <li><a href="{% url 'logout' %}" title="ログアウト"><i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i></a></li>
        {% else %}
          <li>
            <a  href="{% url 'login' %}" title="ログイン"><i class="fa-solid fa-right-to-bracket fa-flip-horizontal" style="color: #ffffff;"></i></a>
          </li>
        {% endif %}
        </ul>
        
      </nav>
      {% block content %}
      {% endblock content %}
    </div>
  </main>

  <footer></footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/59a8359b77.js" crossorigin="anonymous"></script>
  </body>
</html>