{% extends 'template.html' %}

{% block content %}
<div class="container mt-4">
  <h2>ログイン</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">ログイン</button>
  </form>
  <p>アカウントをお持ちでない場合は、<a href="{% url 'register' %}">こちら</a>から会員登録できます。</p>
</div>
{% endblock %}
