{% extends 'template.html' %}

{% block content %}
<div class="container mt-4 register">
  <h2>会員登録</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">登録</button>
  </form>
</div>
{% endblock %}
